.debtReport {
  width: 100%;


  &-table {
    margin: 30px;
  }

  &-header {
    background-color: #6494ed;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-select {
      margin: 30px;
      width: 200px;
      height: 60px;

      border: none;
      outline: none;

      background-color: transparent;
      color: white;

      &-option {
        background-color: #6494ed;
        color: white;
        width: 200px;
        height: 10px;
      }
    }

  }

  table {
    width: 100%;
  }

  .table-delete {
    color: hsl(219, 79%, 66%);
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
  .table-number {
    // It did not look correct
    // text-align: right;
  }

  .search {
    padding: 0px 0px 20px 0px;

    &-label {
      padding-right: 20px;
    }

    &-input {
      height: 17px;
      background-color: whitesmoke;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.myDialog {
  width: 45vw;
  height: 35vh;

  &-header {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    border-bottom: 1px solid;
  }

  &-text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    color: hsl(219, 79%, 66%);
  }

  &-buttons {
    height: 15%;
    display: flex;
    justify-content: flex-end;
    padding-right: 45px;

    &-button {
      margin: 5px;
      border-radius: 5px;
      outline: none;
      border: 1px solid;
      cursor: pointer;

      &:hover {
        background-color: hsl(219, 79%, 66%);
        border-color: hsl(219, 79%, 66%);
      }

      &:focus {
        outline-style: dotted;
        outline-color:hsl(219, 79%, 66%);
        outline-width: 2px;
      }
    }

    &-cancel {
      background-color: transparent;
      outline: none;
    }

    &-delete {
      background-color: red;
      border-color: red;
      color: white;
    }
  }
}


::ng-deep .mat-dialog-container#mat-dialog-0 {
  padding: 0px;
}
