$BFC-blue: hsl(219, 79%, 55%);
$BFC-white: hsl(0, 0%, 100%);
$BFC-ligtWhite:  hsl(0, 0%, 96%);;
$BFC-red: hsl(0, 100%, 50%);;

.debtReport {
  width: 100%;

  &-table {
    margin: 30px;
  }

  &-header {
    background-color: $BFC-blue;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-select {
      margin: 30px;
      width: 200px;
      height: 60px;

      border: none;
      outline: none;

      background-color: transparent;
      color: $BFC-white;

      &-option {
        background-color: $BFC-blue;
        color: $BFC-white;
        width: 200px;
        height: 10px;
      }
    }

  }

  table {
    width: 100%;
  }

  .table-delete {
    color: $BFC-blue;
    cursor: pointer;

    &:hover {
      color: $BFC-red;
    }
  }

  .table-number {
    // It did not look correct
    // text-align: right;
  }

  .search {
    padding: 0px 0px 20px 0px;

    &-label {
      padding-right: 20px;
    }

    &-input {
      height: 17px;
      background-color: $BFC-ligtWhite;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.myDialog {
  width: 45vw;
  height: 20vh;
  padding: 0px;

  &-header {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    border-bottom: 1px solid;
  }

  &-text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    color: $BFC-blue;
  }

  &-buttons {
    height: 15%;
    display: flex;
    justify-content: flex-end;
    padding-right: 45px;

    &-button {
      margin: 5px;
      border-radius: 5px;
      outline: none;
      border: 1px solid;
      cursor: pointer;

      &:hover {
        background-color: $BFC-blue;
        border-color: $BFC-blue;
      }

      &:focus {
        outline-style: dotted;
        outline-color: $BFC-blue;
        outline-width: 2px;
      }
    }

    &-cancel {
      background-color: transparent;
      outline: none;
    }

    &-delete {
      background-color: $BFC-red;
      border-color: $BFC-red;
      color: $BFC-white;
    }
  }
}

::ng-deep .mat-dialog-container[id*='mat-dialog-'] {
  padding: 0px;
}